.home-page1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    }
    
    .header-container {
        background-color: #1F2937;
        width: 100%;
        height: 25%;
    }
    
    .header-high {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        
    }
    
    .header-logo {
        font-size: 24px;
        color: #F9FAF8;
    
    }
    
    .head-link {
        display: flex;
        gap: 25px;
        padding-right: 25px;
    }
    
    .head-link a {
        font-size: 18px;
        color: #E5E7EB;
        text-decoration: none;
    }
    
    .banner {
        display: flex;  
        align-items: center;
        justify-content: space-between; 
        padding: 50px;
        max-width: 1100px; 
        margin: auto; 
    }
    
    .banner-text {
        flex: 1;  
        max-width: 500px; 
    }
    
    .banner-text h1 {
        font-size: 48px;
        font-weight: 900;
        color: #F9FAF8;
    }
    
    .banner-text p {
        font-size: 18px;
        color: #E5E7EB;
    }
    
    .sign-up {
        background-color: #3882f6;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 8px;
        font-weight: bold;
        text-align: center;
        width: fit-content; 
        margin-top: 10px;
    }
    
    .banner-image {
        flex: 1; 
        display: flex;
        justify-content: center;
    }
    
    .banner-image img {
        max-width: 400px; 
        height: auto; /
        border-radius: 10px; 
    }
    
    .information {
        height: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .information h2 {
        font-weight: 900;
        color: #1F2937;
        font-size: 36px;
     
    }
    
    .informations-contenair {
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1100px;
        padding: 15px;
        text-align: center;
        gap: 20px;
        
    }
    
    .informations-contenair img {
        width: 200px;
        height: 200px;
        border-radius: 5px;
        border: 5px solid rgb(96 139 168);
    }
    
    .informations-contenair p {
        font-size: 13px;
        max-width: 200px;
        
    }
    
    .citations {
        background-color: #E5E7EB;
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .numerobis-text {
        font-size: 36px;
        font-style: light italic;
        color: #1F2937;
        margin: auto;
        padding: 0;
    }
    
    .numerobis {
        align-self: self-end;
    }
    
    .footer {
        padding: 70px;
    }
    
    .cta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 800px;
        margin: auto;
        padding: 30px 60px;
        background-color: #3882f6;
        border-radius: 10px;
    }
    
    .cta-textBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto;
        max-width: 60%;
        color: white;
    }
    
    .cta-textBox h3 {
        margin-bottom: 1px; /* Ajuste selon le besoin */
    }
    
    .cta-textBox h3, 
    .cta-textBox p {
        display: block; 
        margin: 0; /* Supprime les marges */
        padding: 0; /* Supprime les éventuels paddings */
    }
    
    .cta-textBox p {
        margin-bottom: 10px;
    }
    
    
    
    .button--cta {
        border: 2px solid white;
        padding: 10px 20px;
        border-radius: 5px;
        background: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    
    
    .copyright {
        display: flex;
        align-items: center;
        background-color: #1F2937;
        height: 100px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .copyright p {
        color: #E5E7EB;
        margin: auto;
    }